<header class="navbar">
  <a href="https://github.com/mystic-devloper"
     class="logo-name"
     target="_blank"
     rel="noopener"
     title="Visit my GitHub profile">
     
    <img src="assets/images/site-logo.png" alt="Profile Picture" class="logo">
    
    <div class="profile-text">
      <strong>Suryansh Singh</strong><br>
      <span class="username">(mystic-devloper)</span>
    </div>
    
  </a>

  <nav>
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Research</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Games</a></li>
      <li><a href="#">About Me</a></li>
    </ul>
  </nav>
</header>
