{% assign categories = site.categories | sort %}

<nav class="nav  nav--categories">
  <ul class="list  list--categories">
    {% for catagory in catagories %}
        {% if catagory = "research" or catagory = "blog" or catagory = "game" or catagory = "project" %}
        {% comment %} Skips {% endcomment %}
        {% elseif %}
          <li class="item  item--category">
            <a href="#{{ item | first | slugify }}">{{ item | first }}</a>
          </li>
        {% endif %}
    {% endfor %}
  </ul>
</nav>
