<footer class="site-footer">
  <p>
    © Suryansh Singh <em>(mystic-devloper)</em> {{ site.time | date: '%Y' }}
  </p>

  <p class="social-links-container">
    <a href="https://orcid.org/0009-0009-3747-844X" target="_blank" rel="noopener noreferrer">
      {% include icon.html id="orcid" width="18" height="18" title="ORCiD" %}
      ORCiD
    </a>

    <span>|</span>

    <a href="https://github.com/mystic-devloper" target="_blank" rel="noopener noreferrer">
      {% include icon.html id="github" width="18" height="18" title="GitHub" %}
      GitHub
    </a>

    <span>|</span>

    <a href="https://www.linkedin.com/in/research-by-surya" target="_blank" rel="noopener noreferrer">
      {% include icon.html id="linkedin" width="18" height="18" title="LinkedIn" %}
      LinkedIn
    </a>

    <span>|</span>

    <a href="https://x.com/sinister_surya" target="_blank" rel="noopener noreferrer">
      {% include icon.html id="x" width="18" height="18" title="X/Twitter" %}
      X/Twitter
    </a>

    <span>|</span>

    <a href="https://www.reddit.com/user/sinister_surya" target="_blank" rel="noopener noreferrer">
      {% include icon.html id="reddit" width="18" height="18" title="Reddit" %}
      Reddit
    </a>
  </p>
</footer>
