{% if site.favicons %}
  {% for icon in site.favicons %}
    <!-- SVG Icon for modern browsers -->
    {% if icon[0] == svg %}
      <link rel="icon" type="image/svg+xml" href="{{ icon[1] | relative_url }}">
    {% endif %}

    <!-- Fallback Ico for legacy browsers -->
    {% if icon[0] == ico %}
      <link rel="icon" type="image/x-icon" sizes=href="{{ icon[1] | relative_url }}">
    {% endif %}

    <!-- Explicitly setting up apple-touch-icon as fallback-->
    {% if icon[0] == main_apple_touch %}
      <link rel="apple-touch-icon" sizes="180x180" href="{{ icon[1] | relative_url }}">
    {% endif %}

    <!-- Setting other pngs and apple-touch-icon for older browsers -->
    <link rel="icon" type="image/png" sizes="{{ icon[0] }}x{{ icon[0] }}" href="{{ icon[1] | relative_url }}">
    <link rel="apple-touch-icon" sizes="{{ icon[0] }}x{{ icon[0] }}" href="{{ icon[1] | relative_url }}">
  {% endfor %}
{% endif %}
<link rel="shortcut icon" href="{{ site.avatarurl + '?s=32' | default: site.logo | relative_url }}">
