{% if site.favicons %}
  {% for key in site.favicons %}
    {% assign type = key[0] %}
    {% assign path = key[1] | relative_url %}

    {% if type == "svg" %}
      <link rel="icon" type="image/svg+xml" href="{{ path }}">
    {% elsif type == "ico" %}
      <link rel="icon" type="image/x-icon" href="{{ path }}">
    {% elsif type == "main_apple_touch" %}
      <link rel="apple-touch-icon" sizes="180x180" href="{{ path }}">
    {% elsif type contains "." %}
      {% comment %} Skip malformed key {% endcomment %}
    {% else %}
      <link rel="icon" type="image/png" sizes="{{ type }}x{{ type }}" href="{{ path }}">
      <link rel="apple-touch-icon" sizes="{{ type }}x{{ type }}" href="{{ path }}">
    {% endif %}
  {% endfor %}
{% endif %}

<link rel="shortcut icon" href="{{ site.avatarurl | append: '?s=32' | default: site.logo | relative_url }}">
