<nav class="main-nav">
  <a href="https://github.com/mystic-devloper"
     class="logo-name"
     target="_blank"
     rel="noopener"
     title="Visit my GitHub profile">
    
     <img src="/assets/logo/site-logo.png" alt="Site Logo" class="logo">
     
     <div class="profile-text">
      <strong>Suryansh Singh</strong></strong>
      <span class="username">(mystic-devloper)</span>
    </div>
  </a>

  <button class="nav-toggle" aria-label="Toggle navigation"></button>

  <div class="nav-collapse">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/research">Research</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/game">Game</a></li>
      <li><a href="/about">About</a></li>
      </ul>
  </div>
</nav>
