.site-header {
  background-color: $bannerColour;
  font-size: 0;
  max-width: 300px;

  .logo-name {
    text-decoration: none;
    display: flex;
    align-items: center;

    &:hover {
      opacity: 0.85;
      transition: opacity 0.2s;
    }
  }

  .logo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 0.8rem;
  }

  @include breakpoint(break-1) {
      margin-left: 1.5rem;
  }

  .profile-text {
    @include fontsize(eta, all);
    color: $paragraphColour;
    line-height: 1.2;

    strong {
      color: $bodyColour;
    }
  }

  .username {
    @include fontsize(eta, all);
    color: $paragraphColour;
    font-style: italic;
    line-height: 1.2;
  }
}
