@use "variables" as *;
@use "mixins" as *;
@use "flex" as *;
@use "typography" as *;

// Structural elements
body {
  background: $backgroundColour;
  color: $bodyColour;
  height: 100%;
  display: flex;
  @include flex-direction(column);
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 2rem 0;

  @include breakpoint(break-1) {
    padding: 3rem 0;
  }

  @include breakpoint(break-2) {
    padding: 4rem 0;
  }
}

.feature {
  padding-bottom: .4rem;
  margin-bottom: 1.6rem;
  text-align: center;
  background: $featureBackgroundColour;
  background-size: cover;
  background-position: center;

  .container {
    min-height: 35vh;
    max-width: 60%;
    @include flex-direction(column);
    @include justify-content(center);
  }
}
