@use "utopia/utopia" as utopia;

:root {
  @include utopia.generateTypeScale((
    "minWidth": 318,
    "maxWidth": 1240,
    "minFontSize": 18,
    "maxFontSize": 20,
    "minTypeScale": 1.25,
    "maxTypeScale": 1.333,
    "positiveSteps": 5,
    "negativeSteps": 2,
    "prefix": "step-",
    "relativeTo": "viewport-width"
  ));

  @include utopia.generateSpaceScale((
    "minWidth": 318,
    "maxWidth": 1240,
    "minSize": 18,
    "maxSize": 20,
    "positiveSteps": (1.5, 2, 3, 4, 6),
    "negativeSteps": (0.75, 0.5, 0.25),
    "customSizes": ("s-l"),
    "prefix": "space-",
    "relativeTo": "viewport-width",
  ));

  --grid-max-width: 77.5rem;
  --grid-gutter: var(--space-s-l, clamp(1.125rem, 0.6508rem + 2.3861vw, 2.5rem));
  --grid-columns: 12;

  @include utopia.generateClamps((
    "minWidth": 318,
    "maxWidth": 1240,
    "pairs": (
      (16, 48),
    ),
    "prefix": "fluid-",
    "relativeTo": "viewport-width",
  ));
}
