<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <!-- Charset -->
    <meta charset="utf-8">
    
    <!-- Viewport for Mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- IE Compatibility -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    {% if page.indexing == false %}
      <meta name="robots" content="noindex">
    {% endif %}

    <!-- Page Title and description -->
    <title>{{ page.title }}</title> 
    <meta name="description" content="{{ page.description }}">

    <!-- Progressive Web App -->
    <link rel="manifest" href="{{ "/manifest.json" | relative_url }}">
    <meta name="theme-color" content="#3C6E71">
    <meta name="apple-mobile-web-app-status-bar-style" content="default" >
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Windows Tile Configuration -->
    <meta name="msapplication-config" content="{{ "/browserconfig.xml" | relative_url }}>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">

    {% include site-favicons.html %}
    {% include site-splash-screens.html %}

    {% include site-analytics.html %}
  </head>

  <body>

    {% include site-header.html %}

    {{ content }}

    {% include site-footer.html %}

    {% include site-sw.html %}
    
  </body>

  </html>
